<section class="block block--dark block--skewed-right showcase">
  <h2 class="showcase__heading">User-friendly Control Panel</h2>
  <div class="container grid grid--1x2">
    <img class="showcase__image" src="styles.css/images/ipad.webp" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon">
              <use xlinkhref="styles.css/images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title showcase__title">
              Easy Start & Managed Updates
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Inventore, molestiae quidem aspernatur ipsam repellat laboriosam
              hic eligendi sed rem, fuga vitae blanditiis recusandae rerum ut.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon">
              <use xlinkhref="styles.css/images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title showcase__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Inventore, molestiae quidem aspernatur ipsam repellat laboriosam
              hic eligendi sed rem, fuga vitae blanditiis recusandae rerum ut.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon">
              <use xlinkhref="styles.css/images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title showcase__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Inventore, molestiae quidem aspernatur ipsam repellat laboriosam
              hic eligendi sed rem, fuga vitae blanditiis recusandae rerum ut.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
